<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="LoginForm" (ngSubmit)="loginUser(LoginForm.value)" >
    <input type="text" placeholder="enter your first name" name="firstname" #fn ngModel formControlName="fname"> <br>
    <span *ngIf="fnameX && fnameX.invalid && fnameX.touched" style="color: red;">enter correct firstname (no numbers r allowed)</span><br>
    <input type="text" placeholder="enter your last name" name="lastname" #ln ngModel formControlName="lname"> <br>
    <span *ngIf="lnameX && lnameX.invalid && lnameX.touched" style="color: red;">enter correct lasttname (no numbers r allowed)</span><br>
    <input type="password" placeholder="enter password" name="password" #pd ngModel formControlName="pass"> <br>
    <span *ngIf="passX && passX.invalid && passX.touched" style="color: red;">enter correct password (password length should be min 6)</span><br>
    <input type="email" email placeholder="enter email" name="email" #em ngModel formControlName="gmail"> <br>
    <span *ngIf="emailX && emailX.invalid && emailX.touched" style="color: red;">enter correct email</span><br>
    <button [disabled]="LoginForm.invalid">Register</button>
  </form>
  <p>FirstName: {{userData.firstname}}</p>
  <p>LastName: {{userData.lastname}}</p>
  <p>Password: {{userData.password}}</p>
  <p>Email: {{userData.email}}</p>
</body>
</html>